.allclassrooms {
    width: 30%;
    margin-top: 1em;
  }

.center-cols > .col {
    float:none; /* disable the float */
    display: inline-block; /* make blocks inline-block */
    text-align: initial; /* restore text-align to default */
} 