.home {
    background-image: url('../imgs/bus.jpg');
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
    padding-top: 100px;
    color: #fff;
    font-family: sans-serif;
    letter-spacing: .35em;
    font-size: 8em;
    height: 100vh;
  }
  
  .home_text {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }
  
  .home h1{
    font-size: 0.7em;
    font-weight: 900;
  
  }
  
  .home h5{
    font-size: 0.4em;
    font-weight: 900;
  }