.comment_form {
    /* margin: 0 20%; */
    width: 80%;
  }  

.singleClassroomImg {
    width: 50%;
    margin-left: 25%;
}

.commentButton {
    padding: 0 1%;
    margin-left: 0.2%;
}

.created_at {
    margin-left: 1.5%;
    padding-top: 1em;
    font-weight: 600;
}

.comment {
    margin: 0 5%;
}