.singleClassroomContainer{
    padding-bottom: 1%; 
}

.commentContainer {
    margin: -1% 15% 2% 15%;
    width: 70%;
}

.comment_form {
    margin-top: 1%;
    width: 80%;
  }  

.comment_response_form {
    margin-top: 2%;
    width: 50%;
}

.singleClassroomImg {
    width: 45%;
}

.commentButton {
    padding: 0 1%;
    margin-left: 0.2%;
}

.commentNewButton {
    padding: 0 1%;
    margin: -3% 0 2% 0.2%
}

.commentReplyButton {
    /* padding: 0 1%; */
    margin: 5% 0 2% 0.2%   
}

.created_at {
    margin-left: 1.5%;
    padding-top: 1em;
    font-weight: 600;
}

.textarea {
	height: 9em;
}

textarea {
	height: 4em;
}

/* new classroom */
.newFormClassroom {
    min-height: 80vh;
    padding-top: 6%;
    padding-bottom: 7%;
}
/* new classroom */

/* update classroom */
.updateClassroomFormContainer {
    min-height: 80vh;
    padding-top: 6%;
    padding-bottom: 7%;
}
/* update classroom */

/* update comment */
.updateCommentContainer {
    min-height: 80vh;
    padding-top: 6%;
    padding-bottom: 7%;
}

.updateCommentContainer textarea {
	height: 15em;
}
/* update comment */